<div class="table-responsive">  
    <table class="table table-striped">  
         <tr>  
              <td width="30%"><label>ID Curso:</label></td>  
              <td width="70%">{{ datos_curso[0] }}</td>  
         </tr>  
         <tr>  
              <td width="30%"><label>Nombre Curso:</label></td>  
              <td width="70%">{{ datos_curso[1] }}</td>  
         </tr>  
         <tr>  
            <td width="30%"><label>Fecha de Alta:</label></td>  
            <td width="70%">{{ datos_curso[2] }}</td>  
       </tr>
    </table>  
</div>